.header {
  margin-bottom: 20px;
  &__title {
    display: flex;
    justify-content: center;

    margin-top: 10px;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
  }
}
